pandas
numpy==1.26.4
scikit-learn
xgboost
opencv-python
mediapipe
deepface
librosa
soundfile
openai-whisper
transformers==4.44.2
torch==2.2.2
ffmpeg-python
moviepy
matplotlib
seaborn
plotly
altair
joblib
pyyaml
streamlit
streamlit-webrtc
Pillow
tqdm
scipy
av
